.home {
  height: calc(100vh - 85.875px);
  background-color: orange;
  position: relative;
  @media (max-width: 600px) {
    height: calc(100vh - 138.875px);
    p {
      font-size: 10px;
      max-height: 100%;
      width: 100%;
    }
  }
  p {
    color: rgb(0, 17, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    max-width: 500px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-80%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.go {
  position: absolute;
    bottom: 15px;
    right: 15px;
  button {
    background-color: white;
    padding: 15px;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    
    margin-right: 10px;
    font-weight: 900;
  }
  .arrow {
    color: #000000;
    cursor: pointer;
  }
}
}